In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.2.3'

In [3]:
# Connection to postgres
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
df_test = pd.read_csv('./data/green_tripdata_2019-10.csv')

/tmp/ipykernel_184285/3754082693.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('./data/green_tripdata_2019-10.csv')

In [6]:
len(df_test)

476386

In [7]:
df_iter = pd.read_csv('./data/green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

#### Test df and check the schema

In [8]:
df = next(df_iter)

In [9]:
len(df)

100000

In [10]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### Recast the pickup and dropoff datetimes columns

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### Create the schema in postgres db

In [13]:

df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 7.62 s, sys: 167 ms, total: 7.78 s
Wall time: 12.6 s

1000

#### Loop to ingest data into postgresql chunk by chunk

In [15]:
while True:

    t_start = time()
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'Inserted another chunk... It took {t_end-t_start : .3f} seconds')

Inserted another chunk... It took  13.000 seconds
Inserted another chunk... It took  13.256 seconds

/tmp/ipykernel_184285/2945750039.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk... It took  12.822 seconds
Inserted another chunk... It took  8.676 seconds

StopIteration:

#### Load zone_lookup table

In [17]:
zone_lookup_df = pd.read_csv('./data/taxi_zone_lookup.csv')

In [18]:
print(pd.io.sql.get_schema(zone_lookup_df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [19]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [20]:
%time zone_lookup_df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

CPU times: user 90.7 ms, sys: 5.97 ms, total: 96.7 ms
Wall time: 165 ms

265